div.h1, div.h2, div.h3, div.h4, div.h5, div.h6 {
	color: #181818;
	font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
	font-weight: normal; }
div.h1 a, div.h2 a, div.h3 a, div.h4 a, div.h5 a, div.h6 a { font-weight: inherit; }
div.h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
div.h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
div.h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
div.h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
div.h5 { font-size: 17px; line-height: 24px; }
div.h6 { font-size: 14px; line-height: 21px; }
